@media only screen and (max-width: 1151px) {
    .main__header {
        background-position-x: calc(50% + 147px);
    }
    .main__header-logo {
        width: 200px;
        margin-left: 50px;
    }
}
@media only screen and (max-width: 1023px) {
    .main__header {
        background-position-x: calc(50% + 215px);
    }
    .main__header-logo {
        margin-left: 0;
    }
    .main__header-menu {
        margin-top: 16px;
    }
}
@media only screen and (min-width: 768px) {
    .main__header-hamburger {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .main__header {
        background-position-x: -407px;
        background-position-y: 5px;
    }
    .main__header-menu {
        display: none;
    }
    .main__header-page {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 99;
    }
    .main__header-page::after {
        bottom: -85px;
        pointer-events: none;
    }
    .main__header-page-fake {
        display: block;
        width: 100%;
        height: 61px;
    }
    .main__header-page.active {
        height: auto;
        z-index: 200;
    }
    .main__header-page.active::after {
        background-image: url(../img/border-top-menu.png);
    }
    .main__header-page.active .main__header-menu {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        display: block;
    }
    .main__header-front__page.active {
        height: auto;
        z-index: 200;
        background-color: #fafafa;
    }
    .main__header-front__page.active .main__header-menu {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        display: block;
    }
    .main__header-front__page.active::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -83px;
        right: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 88px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(../img/border-top-menu.png);
        pointer-events: none;
    }
}
@media only screen and (max-width: 1151px) {
    .main__footer-first {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .main__footer-second {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666%;
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }
}
@media only screen and (max-width: 1023px) {
    .main__footer-first {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
        max-width: 32%;
    }
    .main__footer-second {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 68%;
        flex: 0 0 68%;
        max-width: 68%;
    }
}
@media only screen and (max-width: 768px) {
    .main__footer-first {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .main__footer-second {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .main__footer-menu,
    .main__footer-sn {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .main__footer-contacts {
        padding-left: 0;
        margin-bottom: 35px;
    }
    .main__footer-contacts-title {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1151px) {
    .about-title {
        margin-top: 70px;
        padding-bottom: 20px;
    }
    .about-wrapper {
        max-width: 972px;
    }
    .about-body {
        margin-top: 24px;
    }
    .about-body blockquote {
        margin-top: -14px;
        margin-bottom: 15px;
    }
    .about-body blockquote p {
        max-width: 918px;
        margin-left: 5px;
    }
    .about-body blockquote p br {
        display: none;
    }
    .about-body blockquote span {
        margin-top: -8px;
        margin-right: 5px;
    }
    .about-body h2 {
        margin-top: 45px;
    }
    .about-recall {
        margin-top: 32px;
    }
    .about-recall-form {
        margin-bottom: 33px;
    }
}
@media only screen and (max-width: 1023px) {
    .about.page {
        padding-bottom: 0;
    }
    .about-title {
        margin-top: 61px;
    }
    .about-title::after {
        background-image: url(../img/news-after-tablet-about.svg);
        max-width: 575px;
    }
    .about-wrapper {
        max-width: 716px;
    }
    .about-wrapper > p {
        padding-right: 7px;
    }
    .about-body {
        margin-top: 21px;
    }
    .about-body blockquote {
        margin-top: -5px;
        margin-bottom: 19px;
    }
    .about-body blockquote span {
        margin-top: 9px;
        margin-right: -1px;
    }
    .about-body h2 {
        margin-top: 35px;
    }
    .about-recall-text {
        margin-bottom: 12px;
    }
    .about-recall-form {
        padding-bottom: 32px;
    }
}
@media only screen and (max-width: 767px) {
    .about-title {
        margin-top: 57px;
        padding-bottom: 15px;
    }
    .about-title h1 {
        font-size: 33px;
        line-height: 36px;
        font-weight: 400;
    }
    .about-title::after {
        background-image: url(../img/news-after-mobile.svg);
        max-width: 349px;
    }
    .about-body {
        margin-top: 11px;
    }
    .about-body p {
        margin-bottom: 15px;
    }
    .about-body blockquote {
        margin-top: 0;
        margin-bottom: 13px;
    }
    .about-body blockquote p {
        font-size: 18px;
        line-height: 30px;
    }
    .about-body blockquote span {
        font-size: 18px;
        line-height: 24px;
        margin-top: 1px;
        margin-right: 3px;
    }
    .about-body h2 {
        margin-top: 45px;
        margin-bottom: 31px;
    }
    .about-wrapper {
        max-width: 438px;
    }
    .about-wrapper-second {
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .about-recall {
        margin-top: 41px;
    }
    .about-recall-text {
        margin-bottom: 4px;
    }
    .about-recall-text p {
        margin-bottom: 0;
    }
    .about-recall-form {
        padding-top: 46px;
        padding-right: 33px;
        padding-bottom: 35px;
        margin-bottom: 0;
    }
    .about-recall-input {
        margin-bottom: 25px;
    }
    .about-recall-input:first-child,
    .about-recall-input:nth-child(2) {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .about-recall-textarea {
        margin-bottom: 27px;
    }
    .about-recall-textarea textarea {
        height: 149px;
    }
    .about-recall-button button {
        margin-right: 9px;
    }
}
@media only screen and (max-width: 470px) {
    .about-wrapper {
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .about-title {
        margin-top: 52px;
        padding-bottom: 14px;
    }
    .about-title h1 {
        font-size: 28px;
        line-height: 36px;
    }
    .about-title::after {
        max-width: 220px;
    }
    .about-body {
        margin-top: 17px;
    }
    .about-body p {
        font-size: 15px;
        line-height: 26px;
        letter-spacing: 0.8px;
        padding-right: 0;
    }
    .about-body blockquote {
        margin-top: 19px;
        margin-bottom: 15px;
    }
    .about-body blockquote p {
        margin-left: 3.5px;
        margin-right: 3.5px;
    }
    .about-body blockquote span {
        margin-top: -2px;
        margin-right: 0;
        letter-spacing: -0.2px;
    }
    .about-body h2 {
        margin-top: 35px;
        margin-bottom: 21px;
        letter-spacing: 1px;
    }
    .about-recall {
        margin-top: 27px;
    }
    .about-recall-text {
        margin-bottom: 16px;
    }
    .about-recall-text p {
        letter-spacing: 1.25px;
        padding-left: 5px;
    }
    .about-recall-form {
        padding-top: 25px;
        padding-left: 18px;
        padding-right: 18px;
        padding-bottom: 26px;
        margin-bottom: 11px;
    }
    .about-recall-input {
        margin-bottom: 30px;
    }
    .about-recall-input input[type="text"] {
        padding-left: 18px;
    }
    .about-recall-textarea {
        margin-bottom: 20px;
    }
    .about-recall-textarea textarea {
        padding-left: 18px;
        padding-top: 12px;
    }
    .about-recall-button button {
        margin-right: 7px;
        width: 197px;
    }
}
@media only screen and (max-width: 1151px) {
    .community {
        margin-top: 58px;
    }
}
@media only screen and (max-width: 1023px) {
    .community {
        margin-top: 48px;
    }
    .community-wrapper {
        max-width: 658px;
    }
    .community-list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 41px;
        padding-bottom: 79px;
    }
    .community-item:first-child,
    .community-item:last-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 385px;
    }
}
@media only screen and (max-width: 767px) {
    .community.page {
        margin-top: 35px;
    }
    .community-title {
        max-width: 433px;
        margin: auto;
    }
    .community-title h1 {
        letter-spacing: 3px;
        font-size: 33px;
        line-height: 36px;
        font-weight: 400;
    }
    .community-wrapper {
        max-width: 368px;
    }
    .community-list {
        margin-top: 2px;
        padding-top: 12px;
        padding-bottom: 88px;
    }
    .community-item:first-child,
    .community-item:last-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% + 16px);
        flex: 0 0 calc(100% + 16px);
        max-width: calc(100% + 16px);
        width: calc(100% + 16px);
        margin-left: -8px;
    }
}
@media only screen and (max-width: 470px) {
    .community.page {
        margin-top: 23px;
        padding-bottom: 20px;
    }
    .community-title {
        max-width: 320px;
    }
    .community-title h1 {
        font-size: 28px;
        line-height: 36px;
    }
    .community-description {
        margin-top: 15px;
    }
    .community-description p {
        font-size: 15px;
        line-height: 26px;
        letter-spacing: 0.8px;
    }
    .community-wrapper {
        max-width: 233px;
    }
    .community-list {
        margin-top: 9px;
        padding-bottom: 70px;
    }
    .community-item:first-child,
    .community-item:last-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 265px;
        flex: 0 0 265px;
        max-width: 265px;
        width: 265px;
        margin-left: -16px;
    }
}
@media only screen and (max-width: 1151px) {
    .filter-wrapper {
        padding: 0.1px 30px;
    }
    .filter-sort {
        padding-right: 32px;
    }
}
@media only screen and (max-width: 1023px) {
    .filter {
        height: auto;
    }
    .filter-desctop {
        display: none;
    }
    .filter-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .filter-left,
    .filter-right {
        height: auto;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .filter-left {
        margin-top: 6px;
    }
    .filter-categoryes {
        padding-right: 20px;
        margin-bottom: 0;
    }
    .filter-country {
        padding-left: 0;
        padding-bottom: 0;
        padding-right: 22.5px;
        margin-top: 2px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 184.5px - 2px);
        flex: 0 0 calc(100% - 184.5px - 2px);
    }
    .filter-country input[type="text"] {
        min-width: 100%;
    }
    .filter-wrapper {
        padding: 0.1px 23px 0.1px 26px;
    }
    .filter-right {
        margin-top: 8px;
        min-height: 1px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 13px;
    }
    .filter-search {
        margin-right: 2px;
        margin-top: 0;
    }
    .filter-search.active {
        width: calc(100% - 210px);
    }
    .filter-categoryes {
        padding-right: 0;
    }
    .filter-sort {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 184.5px;
        flex: 0 0 184.5px;
        padding-bottom: 0;
        padding-right: 2px;
        padding-left: 22.5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}
@media only screen and (max-width: 768px) {
    .filter-country input[type="text"] {
        min-width: 247px;
    }
}
@media only screen and (max-width: 767px) {
    .filter-right {
        position: relative;
    }
}
@media only screen and (max-width: 488px) {
    .filter-wrapper {
        padding: 0.1px 13px 0.1px 16px;
    }
    .filter-left {
        margin-top: 5px;
    }
    .filter-right {
        margin-top: 16px;
    }
    .filter-country {
        margin-top: 0;
    }
}
@media only screen and (max-width: 440px) {
    .filter-left {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 9px;
    }
    .filter-country,
    .filter-sort {
        padding-right: 0;
        padding-left: 0;
    }
    .filter-search {
        margin-top: 0;
    }
    .filter-search.active {
        width: calc(100% - 34px);
        position: absolute;
    }
    .filter-right {
        margin-top: 22px;
        margin-bottom: 12px;
    }
    .filter-country {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding-bottom: 19px;
    }
    .filter-sort {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}
@media only screen and (max-width: 767px) {
    .matrix-wrapper {
        max-width: 438px;
    }
}
@media only screen and (max-width: 767px) and (max-height: 450px) {
    .matrix-flexbox-outside {
        height: auto;
        min-height: 90vh;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media only screen and (max-width: 565px) {
    .matrix {
        min-height: 90vh;
    }
    .matrix-flexbox-outside {
        height: 90vh;
    }
}
@media only screen and (max-width: 440px) {
    .matrix-wrapper {
        max-width: 288px;
    }
    .matrix-item {
        padding-bottom: 0;
    }
}
@media only screen and (max-width: 1022px) {
    .news-title::after {
        background-image: url(../img/news-after-tablet.svg);
    }
    .news-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: calc(100% + 27px);
    }
    .news-item {
        padding-left: 13.5px;
        padding-right: 13.5px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media only screen and (max-width: 768px) {
    .news-title::after {
        background-image: url(../img/news-after-mobile.svg);
    }
    .news-list {
        width: calc(100% - 34px);
        max-width: calc(100% - 34px);
    }
    .news-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
        margin-bottom: 28px;
    }
}
@media only screen and (max-width: 440px) {
    .news-title::after {
        background-image: url(../img/news-after-mobile-small.svg);
    }
}
@media only screen and (max-width: 767px) {
    .page {
        margin-top: 40px;
    }
    .page-breadcrumbs-desctop {
        display: none;
    }
    .page-breadcrumbs-mobile {
        display: block;
        padding-left: 26px;
    }
    .page-breadcrumbs-mobile a {
        font-family: Scotch, sans-serif;
        color: #1d198c;
        font-size: 17px;
        letter-spacing: 1.2px;
    }
}
@media only screen and (max-width: 768px) {
    .pagination-list ul {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .pagination-list ul li {
        margin: 0 12px;
    }
    .pagination-item {
        font-size: 15px;
        min-width: 15px;
        min-height: 15px;
    }
    .pagination-item-arrow {
        background-size: 7px;
    }
}
@media only screen and (max-width: 1151px) {
    .page .participation-blockquote {
        margin-top: -30px;
        margin-bottom: 18px;
    }
}
@media only screen and (max-width: 1023px) {
    .page .participation-blockquote {
        margin-top: -5px;
        margin-bottom: 19px;
    }
}
@media only screen and (max-width: 767px) {
    .page .participation-blockquote {
        margin-top: 0;
        margin-bottom: 13px;
    }
}
@media only screen and (max-width: 470px) {
    .page .participation-blockquote {
        margin-top: 18px;
        margin-bottom: 16px;
    }
}
@media only screen and (max-width: 1023px) {
    .people__projects-list {
        margin-bottom: 0;
    }
    .people__projects-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    .people__projects-item:last-child {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 440px) {
    .people__projects-body-others {
        padding-top: 103px;
        padding-bottom: 130px;
    }
}
@media only screen and (max-width: 1151px) {
    .postcards-gallery {
        margin-top: 49px;
        width: calc(100% + 22px);
        margin-left: -11px;
    }
    .postcards-gallery-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-left: 11px;
        padding-right: 11px;
        margin-bottom: 27px;
    }
    .postcards-support {
        margin-top: 18px;
    }
}
@media only screen and (max-width: 1023px) {
    .postcards-gallery {
        width: 100%;
        margin-left: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: -19px;
    }
    .postcards-gallery-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 307px;
        flex: 0 0 307px;
        max-width: 307px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 32px;
    }
    .postcards-support {
        margin-top: 15px;
    }
}
@media only screen and (max-width: 767px) {
    .postcards-gallery {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-top: 25px;
    }
    .postcards-gallery-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 229px;
        flex: 0 0 229px;
        max-width: 229px;
        padding-left: 11px;
        padding-right: 11px;
        margin-bottom: 22px;
    }
    .postcards-support {
        margin-top: 7px;
    }
}
@media only screen and (max-width: 470px) {
    .postcards-gallery {
        width: calc(100% + 14px);
        margin-left: -7px;
        margin-top: 20px;
    }
    .postcards-gallery-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 151px;
        flex: 0 0 151px;
        max-width: 151px;
        padding-left: 7px;
        padding-right: 7px;
        margin-bottom: 15px;
    }
    .postcards-support {
        margin-top: 12px;
    }
}
@media only screen and (max-width: 1151px) {
    .gallery__item {
        width: 226px;
        height: 226px;
    }
}
@media only screen and (max-width: 1023px) {
    .gallery__item {
        width: 275px;
        height: 275px;
    }
}
@media only screen and (max-width: 767px) {
    .gallery__item {
        width: 207px;
        height: 207px;
    }
}
@media only screen and (max-width: 470px) {
    .gallery__item {
        width: 137px;
        height: 137px;
    }
}
@media only screen and (max-width: 1023px) {
    .single__news-flexbox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .single__news-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .single__news-item:first-child {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 440px) {
    .single__news-flexbox {
        margin-bottom: 13px;
    }
    .single__news-flexbox-item {
        margin-bottom: 16px;
    }
    .single__news-content blockquote p {
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 1023px) {
    .single__project-flexbox {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .single__project-header-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .single__project-header-item:first-child {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 440px) {
    .single__project {
        margin-top: 12px;
    }
    .single__project-title {
        margin-bottom: 0;
    }
    .single__project-title h1 {
        font-size: 21px;
        margin-bottom: 0;
    }
    .single__project-subtitle {
        margin-top: -3px;
        margin-bottom: 5px;
    }
    .single__project-subtitle p {
        font-size: 12px;
        letter-spacing: 0.1px;
    }
    .single__project-header {
        margin-bottom: 13px;
    }
    .single__project-header-item {
        margin-bottom: 16px;
    }
    .single__project-description p {
        font-size: 12px;
        line-height: 21px;
    }
    .single__project-content p {
        font-size: 12px;
        line-height: 21px;
    }
    .single__project-content blockquote {
        margin-bottom: 10px;
        margin-top: -20px;
    }
    .single__project-content blockquote p {
        font-size: 14px;
        margin-bottom: 6px;
        line-height: 21px;
    }
    .single__project-content blockquote span {
        font-size: 14px;
        font-family: Caveat, sans-serif;
        letter-spacing: 0.15px;
    }
    .single__project-location span:first-child {
        font-size: 12px;
        padding-left: 19px;
        padding-right: 19px;
    }
    .single__project-location span:first-child::before {
        top: -2px;
        left: -6px;
    }
    .single__project-location span:nth-child(2) {
        font-size: 10px;
        padding-left: 4px;
    }
    .single__project-location-list {
        top: -7px;
        margin-left: 12px;
    }
}
@media only screen and (max-width: 1151px) {
    .support-participation {
        margin-top: 59px;
        margin-bottom: -23px;
    }
}
@media only screen and (max-width: 1023px) {
    .support-participation {
        margin-top: 38px;
        margin-bottom: 39px;
    }
}
@media only screen and (max-width: 767px) {
    .support-participation {
        margin-top: 49px;
        margin-bottom: -25px;
    }
}
@media only screen and (max-width: 716px) {
    .support #postcard_1 .support-table-name {
        max-width: calc(100% + 40px);
        width: calc(100% + 40px);
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% + 40px);
        flex: 0 0 calc(100% + 40px);
        margin-left: -20px;
    }
    .support #postcard_1 .support-table-name br {
        display: none;
    }
    .support-block {
        max-width: calc(100% - 32px);
        width: calc(100% - 32px);
        margin-left: 16px;
    }
    .support-tabs li {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
    .support-tabs li:last-child {
        margin-left: 30px;
    }
    .support-tabs li:first-child {
        margin-right: 30px;
    }
    .support-tab {
        padding-left: 20px;
        padding-right: 20px;
    }
    .support-table > div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .support-table-price {
        margin-bottom: 0;
    }
    .support-table-name {
        margin-bottom: 10px;
        font-size: 17px;
    }
    .support-table-name-two {
        max-width: 200px;
        margin: auto;
        margin-bottom: 5px;
    }
    .support-table-val {
        font-size: 12px;
    }
    .support-table-first {
        margin-bottom: -7px;
    }
    .support-table-first > div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .support-table-first > div.support-table-name {
        text-align: right;
        padding-right: 5px;
        margin-bottom: 0;
    }
    .support-table-first > div.support-table-val {
        padding-left: 5px;
        text-align: left;
    }
    .support-table-last {
        margin-top: 0;
        padding-left: 0;
    }
    .support-table-postcard {
        margin-bottom: 0;
        margin-top: 12px;
        padding-top: 24px;
    }
    .support-table-address {
        margin-bottom: 6px;
    }
    .support-postcard > div:nth-child(n) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .support-postcard > div:last-child {
        margin-bottom: 6px;
    }
    .support-address > div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .support-flexbox-price {
        max-width: calc(100% + 27px);
        width: calc(100% + 27px);
        margin-left: -13.5px;
    }
    .support-flexbox-contact_data {
        margin-bottom: 0;
    }
    .support-flexbox-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 16px;
        padding-left: 13.5px;
        padding-right: 13.5px;
    }
    .support-flexbox-item:first-child {
        padding-left: 13.5px;
    }
    .support-flexbox-item:last-child {
        padding-right: 13.5px;
    }
    .support-flexbox-item input.input-support {
        width: 100%;
    }
    .support-user_data > div.support-flexbox-item {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .support-button {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        margin-bottom: 0;
    }
    .support-button > div {
        margin-bottom: 11px;
    }
    .support-button > div:first-child {
        margin-bottom: 8px;
    }
    .support-form-bottom > div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .support-transfer {
        padding-top: 0;
        padding-bottom: 0;
    }
    .support-transfer-requisites {
        width: 100%;
        margin-left: 0;
    }
    .support-transfer-requisites-item:nth-child(n) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .support-transfer-requisites-item:first-child {
        padding-left: 0;
    }
    .support-get_carts {
        padding-top: 0;
    }
    .support input[type="text"].input-support {
        font-size: 16px;
    }
    .support input[type="text"].input-support:active,
    .support input[type="text"].input-support:focus {
        width: 100%;
    }
}
@media only screen and (max-width: 470px) {
    .support-participation {
        margin-bottom: 6px;
    }
    .support-error {
        margin-top: -8px;
    }
    .support-error p {
        font-size: 12px;
    }
}
@media only screen and (max-width: 440px) {
    .support-head {
        margin-bottom: 13px;
    }
    .support-tabs {
        height: auto;
    }
    .support-tabs li {
        line-height: 1;
        height: auto;
        padding-top: 22px;
        padding-bottom: 13px;
    }
    .support-tabs li:last-child {
        margin-left: 5px;
    }
    .support-tabs li:first-child {
        margin-right: 5px;
    }
    .support-tab {
        padding-top: 12px;
        padding-bottom: 5px;
    }
    .support-table-name {
        margin-bottom: 7px;
    }
    .support-table-name-two p:first-child {
        margin-top: 5px;
    }
    .support-table-first {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-bottom: 0;
    }
    .support-table-first > div.support-table-name {
        padding-right: 0;
    }
    .support-flexbox-price {
        margin-left: -7.5px;
        width: calc(100% + 15px);
    }
    .support-flexbox-item {
        margin-bottom: 13px;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    .support-flexbox-item:first-child {
        padding-left: 7.5px;
    }
    .support-flexbox-item:last-child {
        padding-right: 7.5px;
    }
    .support-flexbox-contact_data {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .support-flexbox-contact_data .support-flexbox-item {
        margin-bottom: 16px;
    }
    .support-get_carts {
        margin-bottom: 8px !important;
        padding-left: 0;
    }
    .support-iaggree {
        margin-left: 0;
    }
    .support-button > div:first-child {
        margin-bottom: 4px;
    }
    .support-user_data .support-error {
        margin-top: 2px;
    }
    .support-flexbox-price .support-error {
        margin-top: 1px;
    }
    .support input[type="email"],
    .support input[type="text"] {
        height: 40px;
    }
}
@media only screen and (max-width: 1023px) {
    .three__cards-item {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-bottom: 35px;
    }
    .three__cards-item:last-child {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 768px) {
    .video-body iframe {
        max-width: 438px;
        max-height: 251px;
    }
}
@media only screen and (max-width: 440px) {
    .video-body iframe {
        max-width: 288px;
        max-height: 165px;
    }
}
@media only screen and (max-width: 768px) {
    .btn-support {
        padding: 18px 0 14px;
        width: 195px;
        font-size: 17px;
    }
    .btn-pagination {
        font-size: 15px;
        height: 41px;
    }
}
@media only screen and (max-width: 470px) {
    .btn-community {
        padding: 9px 31px 10px 34px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 440px) {
    .btn-support {
        padding: 10px 0 8px;
        width: 184px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 1151px) {
    .community__item-telegram .community__item-icon {
        margin-left: 28px;
    }
    .community__item-instagram .community__item-icon {
        margin-left: 33px;
    }
}
@media only screen and (max-width: 1023px) {
    .community__item-telegram .community__item-icon {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 78px;
        flex: 0 0 78px;
        margin-left: 0;
    }
    .community__item-telegram .community__item-icon img {
        width: 78px;
        height: 78px;
    }
    .community__item-telegram .community__item-data {
        padding-left: 22px;
        padding-top: 4px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 78px);
        flex: 0 0 calc(100% - 78px);
        max-width: calc(100% - 78px);
    }
    .community__item-telegram .community__item-data p br {
        display: none;
    }
    .community__item-telegram .community__item-button {
        left: 151px;
    }
    .community__item-instagram {
        margin-top: 55px;
    }
    .community__item-instagram .community__item-icon {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 78px;
        flex: 0 0 78px;
        margin-left: 0;
    }
    .community__item-instagram .community__item-icon img {
        width: 78px;
        height: 78px;
    }
    .community__item-instagram .community__item-data {
        padding-left: 22px;
        padding-top: 12px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 78px);
        flex: 0 0 calc(100% - 78px);
        max-width: calc(100% - 78px);
    }
    .community__item-instagram .community__item-button {
        left: 151px;
        bottom: -31px;
    }
}
@media only screen and (max-width: 767px) {
    .community__item-instagram {
        margin-top: 71px;
    }
    .community__item-instagram .community__item-icon {
        margin-left: 3px;
    }
    .community__item-telegram .community__item-icon {
        margin-left: 3px;
    }
}
@media only screen and (max-width: 470px) {
    .community__item-telegram .community__item-icon {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 63px;
        flex: 0 0 63px;
        margin-left: 13px;
        margin-top: 10px;
    }
    .community__item-telegram .community__item-icon img {
        width: 63px;
        height: 63px;
    }
    .community__item-telegram .community__item-data {
        padding-top: 8px;
        padding-left: 10px;
    }
    .community__item-telegram .community__item-button {
        left: 52px;
        bottom: -40px;
    }
    .community__item-instagram {
        margin-top: 53px;
    }
    .community__item-instagram .community__item-icon {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64px;
        flex: 0 0 64px;
        margin-left: 12px;
        margin-top: 2px;
    }
    .community__item-instagram .community__item-icon img {
        width: 64px;
        height: 64px;
    }
    .community__item-instagram .community__item-data {
        padding-left: 10px;
    }
    .community__item-instagram .community__item-data p:nth-child(2) {
        margin-top: 1px;
        left: -56px;
    }
    .community__item-instagram .community__item-link {
        letter-spacing: 2px;
    }
    .community__item-instagram .community__item-button {
        left: 52px;
        bottom: -40px;
    }
    .community__item-instagram .community__item-button a {
        padding: 10px 26px 9px 28px;
    }
    .community__item-data p {
        font-size: 12px;
        line-height: 18px;
    }
    .community__item-data p:nth-child(2) {
        position: absolute;
        left: -53px;
    }
    .community__item-data p br {
        display: none;
    }
    .community__item-link {
        letter-spacing: 2.5px;
    }
}
@media only screen and (max-width: 1151px) {
    .filter__categoryes-show-main {
        left: 29px;
    }
    .filter__categoryes-show-sub {
        right: 39px;
        width: calc(100% - 253px - 62px);
    }
    .filter__categoryes-show-sub-border {
        padding-right: 55px;
    }
    .filter__categoryes-show-sub-category {
        right: auto;
        left: 30px;
        width: calc(100% - 60px);
    }
}
@media only screen and (max-width: 1023px) {
    .filter__categoryes-show-main {
        left: 25px;
    }
    .filter__categoryes-show-sub {
        right: 25px;
        width: calc(100% - 253px - 43px);
    }
    .filter__categoryes-show-sub-button {
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        right: 21px;
        bottom: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(../img/icons/arrow-right-red.svg);
        background-color: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        opacity: 1;
    }
    .filter__categoryes-show-sub-category {
        right: auto;
        left: 25px;
        width: calc(100% - 50px);
    }
    .filter__categoryes-show-sub-category button {
        display: none;
    }
}
@media only screen and (max-width: 855px) {
    .filter__categoryes-show-sub {
        width: calc(100% - 133px);
        min-width: auto;
        left: 108px;
    }
    .filter__categoryes-show-sub-category {
        width: calc(100% - 50px);
        right: auto;
        left: 25px;
    }
}
@media only screen and (max-width: 840px) {
    .filter__categoryes-show-sub {
        max-width: 543px;
        min-width: 456px;
        left: auto;
    }
    .filter__categoryes-show-sub li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 20px;
    }
    .filter__categoryes-show-sub-button {
        bottom: 18px;
        right: 15px;
    }
    .filter__categoryes-show-sub-category {
        right: auto;
        left: 25px;
        width: calc(100% - 50px);
        max-width: none;
    }
    .filter__categoryes-show-sub-category li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding-right: 40px;
    }
    .filter__categoryes-show-sub-category button {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .filter__categoryes-show-main {
        top: 7px;
    }
    .filter__categoryes-show-sub {
        top: 7px;
        width: calc(100% - 240px - 33px);
        max-width: 464px;
        min-width: 464px;
    }
    .filter__categoryes-show-sub li a {
        padding-left: 3px;
    }
    .filter__categoryes-show-sub-border {
        padding-left: 31px;
        padding-top: 43px;
    }
    .filter__categoryes-show-sub-category {
        width: calc(100% - 50px);
        max-width: 529px;
        left: 25px;
        right: auto;
        top: 3px;
    }
    .filter__categoryes-show-sub-category li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 20px;
    }
    .filter__categoryes-show-sub-category button {
        display: block;
    }
}
@media only screen and (max-width: 588px) {
    .filter__categoryes-show-sub {
        left: 99px;
        width: calc(100% - 124px);
        max-width: none;
        min-width: auto;
    }
    .filter__categoryes-show-sub-category {
        left: 25px;
        width: calc(100% - 50px);
        max-width: 529px;
    }
}
@media only screen and (max-width: 565px) {
    .filter__categoryes-show-sub {
        width: auto;
        min-width: calc(100% - 109px);
    }
    .filter__categoryes-show-sub-category {
        width: calc(100% - 50px);
    }
}
@media only screen and (max-width: 559px) {
    .filter__categoryes-show-sub {
        left: auto;
        max-width: 280px;
        min-width: 214px;
    }
    .filter__categoryes-show-sub li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .filter__categoryes-show-sub-back {
        display: block;
        position: absolute;
        left: 20px;
        top: 15px;
        font-size: 14px;
        font-family: "Vera Humana 95", sans-serif;
        color: #1d198c;
        letter-spacing: 0.1px;
        z-index: 10;
    }
    .filter__categoryes-show-sub-back span {
        text-decoration: underline;
    }
    .filter__categoryes-show-sub-back:hover {
        color: #1d198c;
    }
    .filter__categoryes-show-sub-back:hover span {
        text-decoration: none;
    }
    .filter__categoryes-show-sub-category {
        left: 25px;
        right: auto;
    }
}
@media only screen and (max-width: 488px) {
    .filter__categoryes-show {
        top: 52px;
    }
    .filter__categoryes-show-main {
        left: 15px;
    }
    .filter__categoryes-show-sub {
        right: 15px;
    }
    .filter__categoryes-show-sub-category {
        left: 15px;
    }
}
@media only screen and (max-width: 440px) {
    .filter__categoryes-show-sub {
        width: calc(100% - 130px);
        overflow-y: scroll;
    }
    .filter__categoryes-show-sub-border {
        padding: 37px 16px 18px;
    }
    .filter__categoryes-show-sub-category {
        left: 16px;
        width: calc(100% - 32px);
        max-width: 100%;
    }
    .filter__categoryes-show-sub-category button {
        display: none;
    }
    .filter__categoryes-show-sub ul {
        z-index: 3;
    }
    .filter__categoryes-show-sub li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .filter__categoryes-show-sub li:nth-child(1),
    .filter__categoryes-show-sub li:nth-child(2) {
        padding-right: 0;
    }
    .filter__categoryes-show-sub-button {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .filter__categoryes-show-sub {
        width: calc(100% - 108px);
    }
    .filter__categoryes-show-sub-category {
        width: calc(100% - 32px);
        left: 16px !important;
        right: auto;
    }
}
@media only screen and (max-width: 390px) {
    .filter__categoryes-show-sub {
        left: 93px;
        width: auto;
    }
    .filter__categoryes-show-sub-category {
        width: calc(100% - 32px);
        left: 16px !important;
    }
}
@media only screen and (max-width: 1151px) {
    .filter__country-show {
        left: 256px;
    }
}
@media only screen and (max-width: 1023px) {
    .filter__country {
        max-width: 360px;
    }
    .filter__country-show {
        left: 25px;
        top: 111px;
    }
}
@media only screen and (max-width: 840px) {
    .filter__country-show {
        width: 254px;
    }
    .filter__country input[type="text"]:focus {
        min-width: 256px;
    }
}
@media only screen and (max-width: 767px) {
    .filter__country-show {
        width: calc(100% - 49px);
    }
    .filter__country input[type="text"] {
        min-width: 1px;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .filter__country input[type="text"]:focus {
        min-width: 100%;
    }
    .filter__country.active {
        position: absolute;
        left: 0;
        top: 2px;
        right: 2px;
        max-width: 100%;
        width: 100%;
        z-index: 10;
    }
    .filter__country.active input {
        background-color: #fbfbfb;
    }
}
@media only screen and (max-width: 488px) {
    .filter__country {
        max-width: 248px;
    }
    .filter__country-show {
        left: 15px;
    }
    .filter__country.active {
        top: 0;
    }
}
@media only screen and (max-width: 440px) {
    .filter__country {
        width: 100%;
        max-width: 100%;
    }
    .filter__country input[type="text"] {
        width: calc(100% - 49px);
        max-width: 100%;
    }
    .filter__country input[type="text"]:active {
        width: 100%;
    }
    .filter__country::after {
        right: 60px;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .filter__country.active {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
    }
    .filter__country.active::after {
        right: 10px;
    }
    .filter__country.active input {
        width: 100%;
    }
    .filter__country-show {
        top: 120px;
    }
}
@media only screen and (max-width: 1023px) {
    .filter__search {
        width: 44px;
        height: 44px;
        margin-top: 7px;
    }
    .filter__search input,
    .filter__search-before {
        width: 43px;
        height: 43px;
    }
}
@media only screen and (max-width: 840px) {
    .filter__search.active input {
        width: 230px;
    }
}
@media only screen and (max-width: 488px) {
    .filter__search {
        width: 39px;
        height: 39px;
    }
    .filter__search input,
    .filter__search-before {
        width: 39px;
        height: 39px;
    }
}
@media only screen and (max-width: 767px) {
    .filter__search.active {
        width: 100%;
    }
    .filter__search.active input {
        width: 100%;
    }
}
@media only screen and (max-width: 440px) {
    .filter__search {
        margin-top: 0;
    }
}
@media only screen and (max-width: 1151px) {
    .filter__sort-show {
        right: 24px;
        top: 111px;
    }
}
@media only screen and (max-width: 767px) {
    .filter__sort-show {
        width: 276px;
    }
}
@media only screen and (max-width: 488px) {
    .filter__sort-show {
        right: 14px;
    }
}
@media only screen and (max-width: 440px) {
    .filter__sort-show {
        top: 173px;
        width: auto;
        left: 16px;
        right: auto;
    }
}
@media only screen and (max-width: 1023px) {
    .footer_menu ul li {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 768px) {
    .footer_menu ul li {
        padding-left: 0;
        padding-right: 27px;
    }
}
@media only screen and (max-width: 767px) {
    .gallery-list {
        display: block;
    }
    .gallery-list .flexbox {
        display: block;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .gallery-center,
    .gallery-extreme {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 6px;
        padding-top: 6px;
    }
    .gallery-extreme {
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .gallery-extreme .gallery-picture {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 7px);
        flex: 0 0 calc(50% - 7px);
        max-width: calc(50% - 7px);
        padding-top: 50%;
    }
    .gallery-extreme .gallery-picture:first-child {
        margin-right: 7px;
        margin-bottom: 0;
    }
    .gallery-extreme .gallery-picture:last-child {
        margin-left: 7px;
    }
    .gallery-picture::after,
    .gallery-picture::before {
        display: none;
    }
    .gallery-text {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .matrix__item {
        height: 65px;
    }
    .matrix__item-all_projects {
        background-position-x: 0;
        background-position-y: 0;
        background-size: 430px;
        width: calc(100% - 5px);
    }
    .matrix__item-all_projects:hover {
        background-position-x: -1.5px;
        background-position-y: -272px;
    }
    .matrix__item-participation {
        background-position-x: -285px;
        background-position-y: -136px;
        background-size: 429px;
        margin-left: 2px;
    }
    .matrix__item-participation:hover {
        background-position-x: -286.5px;
        background-position-y: -408px;
    }
    .matrix__item-comm {
        background-position-x: -139px;
        background-position-y: 2px;
        background-size: 415px;
    }
    .matrix__item-comm:hover {
        background-position-x: -140.5px;
        background-position-y: -262px;
    }
    .matrix__item-people {
        background-position-x: -278px;
        background-position-y: -201px;
        background-size: 420px;
    }
    .matrix__item-people:hover {
        background-position-x: -279.5px;
        background-position-y: -467px;
    }
    .matrix__item-humans {
        background-position-x: -140px;
        background-position-y: -204px;
        background-size: 425px;
        height: 64px;
        margin-left: 2px;
    }
    .matrix__item-humans:hover {
        background-position-x: -141px;
        background-position-y: -473px;
    }
    .matrix__item-kids {
        background-position-x: -282px;
        background-position-y: 0;
        background-size: 421px;
    }
    .matrix__item-kids:hover {
        background-position-x: -283.5px;
        background-position-y: -267px;
    }
    .matrix__item-education {
        background-position-x: -138px;
        background-position-y: -134px;
        background-size: 418px;
    }
    .matrix__item-education:hover {
        background-position-x: -139px;
        background-position-y: -399px;
    }
    .matrix__item-channel {
        background-position-x: 4px;
        background-position-y: -68px;
        background-size: 420px;
        height: 66px;
    }
    .matrix__item-channel:hover {
        background-position-x: 2.5px;
        background-position-y: -334px;
    }
    .matrix__item-nature {
        background-position-x: -287px;
        background-position-y: -70px;
        background-size: 427px;
    }
    .matrix__item-nature:hover {
        background-position-x: -288.5px;
        background-position-y: -340px;
    }
    .matrix__item-history {
        background-position-x: 1px;
        background-position-y: -205px;
        height: 63px;
        background-size: 421px;
    }
    .matrix__item-history:hover {
        background-position-x: -0.5px;
        background-position-y: -471px;
    }
    .matrix__item-culture {
        background-position-x: 4px;
        background-position-y: -137px;
        background-size: 420px;
    }
    .matrix__item-culture:hover {
        margin-top: -1px;
        background-position-x: 3px;
        background-position-y: -402px;
    }
    .matrix__item-creation {
        background-position-x: -143px;
        background-position-y: -72px;
        background-size: 427px;
    }
    .matrix__item-creation:hover {
        margin-top: -4px;
        background-position-x: -144.5px;
        background-position-y: -338px;
    }
}
@media only screen and (max-width: 440px) {
    .matrix__item {
        height: 45px;
    }
    .matrix__item-all_projects {
        background-position-x: 0;
        background-position-y: 2px;
        background-size: 278px;
    }
    .matrix__item-all_projects:hover {
        background-position-x: -1px;
        background-position-y: -176px;
        height: 43px;
        margin-top: 2px;
    }
    .matrix__item-participation {
        background-position-x: -187px;
        background-position-y: -87px;
        background-size: 279px;
    }
    .matrix__item-participation:hover {
        background-position-x: -188px;
        background-position-y: -264px;
    }
    .matrix__item-comm {
        background-position-x: -93px;
        background-position-y: 3px;
        background-size: 275px;
        width: calc(100% - 5px);
        margin-left: 5px;
    }
    .matrix__item-comm:hover {
        background-position-x: -94px;
        background-position-y: -175.2px;
        height: 41px;
        margin-top: 4px;
    }
    .matrix__item-people {
        background-position-x: -182px;
        background-position-y: -129px;
        background-size: 274px;
    }
    .matrix__item-people:hover {
        background-position-x: -182.8px;
        background-position-y: -302.5px;
    }
    .matrix__item-humans {
        background-position-x: -93px;
        background-position-y: -131px;
        background-size: 277px;
        margin-left: 3px;
    }
    .matrix__item-humans:hover {
        background-position-x: -94px;
        background-position-y: -306.5px;
    }
    .matrix__item-kids {
        background-position-x: -184px;
        background-position-y: 2px;
        background-size: 274px;
        width: calc(100% - 5px);
        margin-left: 5px;
    }
    .matrix__item-kids:hover {
        background-position-x: -185px;
        background-position-y: -174.5px;
        height: 42px;
        margin-top: 3px;
    }
    .matrix__item-education {
        background-position-x: -91px;
        background-position-y: -87px;
        background-size: 274px;
        width: calc(100% - 4px);
    }
    .matrix__item-education:hover {
        background-position-x: -92px;
        background-position-y: -260.5px;
    }
    .matrix__item-channel {
        background-position-x: 3px;
        background-position-y: -43px;
        background-size: 274px;
        width: calc(100% - 1px);
        margin-right: 1px;
    }
    .matrix__item-channel:hover {
        background-position-x: 2px;
        background-position-y: -216.5px;
    }
    .matrix__item-nature {
        background-position-x: -185px;
        background-position-y: -44px;
        background-size: 275px;
        width: calc(100% - 5px);
        margin-left: 5px;
    }
    .matrix__item-nature:hover {
        background-position-x: -186px;
        background-position-y: -218px;
    }
    .matrix__item-history {
        background-position-x: 1px;
        background-position-y: -132px;
        background-size: 273px;
        height: 42px;
        width: calc(100% - 4px);
    }
    .matrix__item-history:hover {
        background-position-x: 0;
        background-position-y: -305px;
    }
    .matrix__item-culture {
        background-position-x: 2px;
        background-position-y: -91px;
        background-size: 280px;
    }
    .matrix__item-culture:hover {
        background-position-x: 1px;
        background-position-y: -268px;
        margin-top: auto;
    }
    .matrix__item-creation {
        background-position-x: -94px;
        background-position-y: -46px;
        background-size: 277px;
        width: calc(100% - 5px);
        margin-left: 5px;
        height: 44px;
    }
    .matrix__item-creation:hover {
        background-position-x: -94.8px;
        background-position-y: -220.5px;
        margin-top: -1px;
    }
}
@media only screen and (max-width: 1151px) {
    .news__preview-description p a {
        display: block;
    }
}
@media only screen and (min-width: 1023px) {
    .news__preview-date-mobile,
    .news__preview-thumbnail-mobile {
        display: none;
    }
}
@media only screen and (max-width: 1022px) {
    .news__preview {
        max-width: 350px;
        margin: auto;
    }
    .news__preview-date-desctop,
    .news__preview-thumbnail-desctop {
        display: none;
    }
    .news__preview-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    .news__preview-title {
        height: 36px;
        padding-left: 13px;
        padding-right: 13px;
        margin: 0;
    }
    .news__preview-title h3 {
        font-size: 13px;
        letter-spacing: 1.8px;
        margin: 0;
        line-height: 36px;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        text-transform: uppercase;
    }
    .news__preview-thumbnail {
        width: 100%;
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        border-radius: 0;
        margin-bottom: 22px;
    }
    .news__preview-thumbnail img {
        border-radius: 0;
        -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .news__preview-description {
        padding-left: 18px;
        padding-right: 18px;
    }
    .news__preview-description p {
        color: #121431;
    }
    .news__preview-date-mobile {
        padding-right: 19px;
        padding-bottom: 7px;
        margin-top: -12px;
        display: block;
        text-align: right;
    }
}
@media only screen and (max-width: 440px) {
    .news__preview-date {
        margin-top: 0;
    }
}
@media only screen and (max-width: 1190px) {
    .project__item-footer-item:first-child {
        max-width: 153px;
    }
    .project__item-footer-item:first-child .btn {
        min-width: 135px;
    }
    .project__item-footer-item:last-child {
        max-width: calc(100% - 153px);
    }
}
@media only screen and (max-width: 1023px) {
    .project__item {
        max-width: 351px;
    }
}
@media only screen and (max-width: 440px) {
    .project__item-description {
        padding-top: 20px;
    }
    .project__item-footer-item:first-child {
        max-width: 141px;
    }
    .project__item-footer-item:first-child .btn {
        min-width: 123px;
        padding-left: 0;
        padding-right: 0;
        display: block;
        text-align: center;
    }
    .project__item-footer-item:last-child {
        max-width: calc(100% - 141px);
    }
}
@media only screen and (max-width: 440px) {
    .radio__summ {
        height: 41px;
    }
    .radio__summ label {
        line-height: 39px;
        font-size: 16px;
    }
}
@media only screen and (max-width: 440px) {
    .sn li {
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }
}
@media only screen and (max-width: 768px) {
    .style__checkbox-big label {
        font-size: 17px;
    }
}
@media only screen and (max-width: 440px) {
    .style__checkbox-big label {
        font-size: 14px;
    }
}
@media only screen and (max-width: 1023px) {
    .tcard {
        width: 100%;
        max-width: 351px;
        display: block;
        margin: auto;
    }
}
@media only screen and (max-width: 440px) {
    .three__cards {
        margin-bottom: 50px;
    }
    .three__cards-title {
        margin-bottom: 20px;
    }
    .three__cards-item {
        margin-bottom: 25px;
    }
}
@media only screen and (max-width: 440px) {
    .title__second h2 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 440px) {
    .title h2,
    .title h3 {
        font-size: 21px;
        line-height: 24px;
        letter-spacing: 0.18px;
    }
}
@media only screen and (max-width: 1023px) {
    .to__top {
        right: 112px;
        bottom: 112px;
    }
}
@media only screen and (max-width: 768px) {
    .to__top {
        right: 28px;
        bottom: 28px;
    }
}
@media only screen and (max-width: 440px) {
    .to__top {
        right: 16px;
        bottom: 16px;
    }
}
@media only screen and (max-width: 1023px) {
    .top__menu ul a {
        font-size: 16px;
        letter-spacing: 1.55px;
    }
}
@media only screen and (max-width: 767px) {
    .top__menu ul {
        display: block;
    }
    .top__menu ul li {
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        margin-bottom: 12px;
    }
    .top__menu ul li a {
        line-height: 24px;
        font-size: 17px;
    }
}
