@media only screen and (max-width: 1151px) {
    .main__header {
        background-position-x: -webkit-calc( 50% + 147px);
        background-position-x: calc( 50% + 147px); }
        .main__header-logo {
            width: 200px;
            margin-left: 50px; } }

@media only screen and (max-width: 1023px) {
    .main__header {
        background-position-x: -webkit-calc( 50% + 215px);
        background-position-x: calc( 50% + 215px); }
        .main__header-logo {
            margin-left: 0; }
        .main__header-menu {
            margin-top: 16px; } }

@media only screen and (min-width: 768px) {
    .main__header-hamburger {
        display: none; } }

@media only screen and (max-width: 767px) {
    .main__header {
        background-position-x: -407px;
        background-position-y: 5px; }
        .main__header-menu {
            display: none; }
        .main__header-page {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 99; }
            .main__header-page::after {
                bottom: -85px;
                background-image: url(../img/border-top-menu.png); }
            .main__header-page-fake {
                display: block;
                width: 100%;
                height: 61px; }
            .main__header-page.active {
                height: auto;
                z-index: 200; }
                .main__header-page.active .main__header-menu {
                    -webkit-box-flex: 0;
                    -webkit-flex: 0 0 100%;
                        -ms-flex: 0 0 100%;
                            flex: 0 0 100%;
                    max-width: 100%;
                    display: block; }
        .main__header-front__page.active {
            height: auto;
            z-index: 200;
            background-color: #FAFAFA; }
            .main__header-front__page.active .main__header-menu {
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 100%;
                    -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                max-width: 100%;
                display: block; }
            .main__header-front__page.active::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -83px;
                right: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 88px;
                background-repeat: no-repeat;
                background-position: center;
                -webkit-background-size: cover;
                        background-size: cover;
                background-image: url(../img/border-top-menu.png); } }

@media only screen and (max-width: 1151px) {
    .main__footer-first {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.33333%;
            -ms-flex: 0 0 33.33333%;
                flex: 0 0 33.33333%;
        max-width: 33.33333%; }
    .main__footer-second {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.66666%;
            -ms-flex: 0 0 66.66666%;
                flex: 0 0 66.66666%;
        max-width: 66.66666%; } }

@media only screen and (max-width: 1023px) {
    .main__footer-first {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 32%;
            -ms-flex: 0 0 32%;
                flex: 0 0 32%;
        max-width: 32%; }
    .main__footer-second {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 68%;
            -ms-flex: 0 0 68%;
                flex: 0 0 68%;
        max-width: 68%; } }

@media only screen and (max-width: 768px) {
    .main__footer-first {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; }
    .main__footer-second {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; }
    .main__footer-sn, .main__footer-menu {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
    .main__footer-contacts {
        padding-left: 0;
        margin-bottom: 35px; }
        .main__footer-contacts-title {
            margin-bottom: 20px; } }

@media only screen and (max-width: 1151px) {
    .filter-wrapper {
        padding: .1px 30px; }
    .filter-sort {
        padding-right: 32px; } }

@media only screen and (max-width: 768px) {
    .filter {
        height: auto; }
        .filter-country {
            padding-left: 27px; }
            .filter-country input[type="text"] {
                min-width: 247px; }
        .filter-search {
            margin-right: -5px; }
        .filter-sort {
            padding-right: 22px; } }

@media only screen and (max-width: 767px) {
    .filter-desctop {
        display: none; }
    .filter-mobile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
    .filter-left, .filter-right {
        min-height: 55px;
        height: auto;
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
    .filter-left {
        margin-top: 11px; }
    .filter-categoryes {
        padding-right: 20px;
        margin-bottom: 9px; }
    .filter-country {
        padding-left: 0;
        padding-bottom: 9px; }
    .filter-wrapper {
        padding: .1px 16px; }
    .filter-right {
        min-height: 69px; }
    .filter-search {
        margin-right: 2px;
        margin-top: -9px; }
        .filter-search.active {
            width: -webkit-calc(100% - 210px);
            width: calc(100% - 210px); }
    .filter-categoryes {
        padding-right: 0; }
    .filter-sort {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        padding-bottom: 9px;
        padding-right: 2px;
        padding-left: 12.5px; }
    .filter-country {
        -webkit-box-flex: 1.5;
        -webkit-flex: 1.5;
            -ms-flex: 1.5;
                flex: 1.5;
        padding-right: 12.5px; }
        .filter-country input[type="text"] {
            min-width: 100%; } }

@media only screen and (max-width: 440px) {
    .filter-sort, .filter-country {
        padding-right: 0;
        padding-left: 0; }
    .filter-sort {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 55%;
            -ms-flex: 0 0 55%;
                flex: 0 0 55%; }
    .filter-country {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        padding-bottom: 17px; }
    .filter-categoryes {
        padding-bottom: 17px;
        margin-bottom: 0; }
    .filter-search {
        padding-bottom: 17px;
        margin-top: 0; }
        .filter-search.active {
            width: -webkit-calc(100% - 34px);
            width: calc(100% - 34px);
            position: absolute; } }

@media only screen and (max-width: 767px) {
    .matrix-wrapper {
        max-width: 438px; } }

@media only screen and (max-width: 440px) {
    .matrix-wrapper {
        max-width: 288px; }
    .matrix-item {
        padding-bottom: 0; } }

@media only screen and (max-width: 1022px) {
    .news-title::after {
        background-image: url(../img/news-after-tablet.svg); }
    .news-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        width: -webkit-calc(100% + 27px);
        width: calc(100% + 27px); }
    .news-item {
        padding-left: 13.5px;
        padding-right: 13.5px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%; } }

@media only screen and (max-width: 768px) {
    .news-title::after {
        background-image: url(../img/news-after-mobile.svg); }
    .news-list {
        width: -webkit-calc(100% - 34px);
        width: calc(100% - 34px);
        max-width: -webkit-calc(100% - 34px);
        max-width: calc(100% - 34px); }
    .news-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
        margin-bottom: 28px; } }

@media only screen and (max-width: 440px) {
    .news-title::after {
        background-image: url(../img/news-after-mobile-small.svg); } }

@media only screen and (max-width: 767px) {
    .page {
        margin-top: 40px; }
        .page-breadcrumbs-desctop {
            display: none; }
        .page-breadcrumbs-mobile {
            display: block;
            padding-left: 26px; }
            .page-breadcrumbs-mobile a {
                font-family: "Scotch", sans-serif;
                color: #1D198C;
                font-size: 17px;
                letter-spacing: 1.2px; } }

@media only screen and (max-width: 768px) {
    .pagination-list ul {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .pagination-list ul li {
            margin: 0 12px; }
    .pagination-item {
        font-size: 15px;
        min-width: 15px;
        min-height: 15px; }
        .pagination-item-arrow {
            -webkit-background-size: 7px 7px;
                    background-size: 7px; } }

@media only screen and (max-width: 1023px) {
    .people__projects-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 40px; }
        .people__projects-item:nth-last-child(-n+3) {
            margin-bottom: 40px; }
        .people__projects-item:last-child {
            margin-bottom: 0; } }

@media only screen and (max-width: 440px) {
    .people__projects-body-others {
        padding-top: 103px;
        padding-bottom: 130px; } }

@media only screen and (max-width: 1023px) {
    .single__news-flexbox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; }
    .single__news-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px; }
        .single__news-item:first-child {
            margin-bottom: 0; } }

@media only screen and (max-width: 440px) {
    .single__news-flexbox {
        margin-bottom: 13px; }
        .single__news-flexbox-item {
            margin-bottom: 16px; }
    .single__news-content blockquote p {
        margin-bottom: 15px; } }

@media only screen and (max-width: 1023px) {
    .single__project-flexbox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; }
    .single__project-header-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px; }
        .single__project-header-item:first-child {
            margin-bottom: 0; } }

@media only screen and (max-width: 440px) {
    .single__project {
        margin-top: 12px; }
        .single__project-title {
            margin-bottom: 0; }
            .single__project-title h1 {
                font-size: 21px;
                margin-bottom: 0; }
        .single__project-subtitle {
            margin-top: -3px;
            margin-bottom: 5px; }
            .single__project-subtitle p {
                font-size: 12px;
                letter-spacing: .1px; }
        .single__project-header {
            margin-bottom: 13px; }
            .single__project-header-item {
                margin-bottom: 16px; }
        .single__project-description p {
            font-size: 12px;
            line-height: 21px; }
        .single__project-content p {
            font-size: 12px;
            line-height: 21px; }
        .single__project-content blockquote {
            margin-bottom: 10px;
            margin-top: -20px; }
            .single__project-content blockquote p {
                font-size: 14px;
                margin-bottom: 6px;
                line-height: 21px; }
            .single__project-content blockquote span {
                font-size: 14px;
                font-family: "Caveat", sans-serif;
                letter-spacing: 0.15px; }
        .single__project-location span:first-child {
            font-size: 12px;
            padding-left: 19px;
            padding-right: 19px; }
            .single__project-location span:first-child::before {
                top: -2px;
                left: -6px; }
        .single__project-location span:nth-child(2) {
            font-size: 10px;
            padding-left: 4px; } }

@media only screen and (max-width: 716px) {
    .support #postcard_1 .support-table-name {
        max-width: -webkit-calc(100% + 40px);
        max-width: calc(100% + 40px);
        width: -webkit-calc(100% + 40px);
        width: calc(100% + 40px);
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 -webkit-calc(100% + 40px);
            -ms-flex: 0 0 calc(100% + 40px);
                flex: 0 0 calc(100% + 40px);
        margin-left: -20px; }
        .support #postcard_1 .support-table-name br {
            display: none; }
    .support-block {
        max-width: -webkit-calc(100% - 32px);
        max-width: calc(100% - 32px);
        width: -webkit-calc(100% - 32px);
        width: calc(100% - 32px);
        margin-left: 16px; }
    .support-tabs li {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px; }
        .support-tabs li:last-child {
            margin-left: 30px; }
        .support-tabs li:first-child {
            margin-right: 30px; }
    .support-tab {
        padding-left: 20px;
        padding-right: 20px; }
    .support-table > div {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        text-align: center; }
    .support-table-price {
        margin-bottom: 0; }
    .support-table-name {
        margin-bottom: 10px;
        font-size: 17px; }
        .support-table-name-two {
            max-width: 200px;
            margin: auto;
            margin-bottom: 5px; }
    .support-table-val {
        font-size: 12px; }
    .support-table-first {
        margin-bottom: -7px; }
        .support-table-first > div {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 50%;
                -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
            max-width: 50%; }
            .support-table-first > div.support-table-name {
                text-align: right;
                padding-right: 5px;
                margin-bottom: 0; }
            .support-table-first > div.support-table-val {
                padding-left: 5px;
                text-align: left; }
    .support-table-last {
        margin-top: 0;
        padding-left: 0; }
    .support-table-postcard {
        margin-bottom: 0;
        margin-top: 12px;
        padding-top: 24px; }
    .support-table-address {
        margin-bottom: 6px; }
    .support-postcard > div:nth-child(n) {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; }
    .support-postcard > div:last-child {
        margin-bottom: 6px; }
    .support-address > div {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; }
    .support-flexbox-price {
        max-width: -webkit-calc(100% + 27px);
        max-width: calc(100% + 27px);
        width: -webkit-calc(100% + 27px);
        width: calc(100% + 27px);
        margin-left: -13.5px; }
    .support-flexbox-contact_data {
        margin-bottom: 0; }
    .support-flexbox-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 16px;
        padding-left: 13.5px;
        padding-right: 13.5px; }
        .support-flexbox-item:first-child {
            padding-left: 13.5px; }
        .support-flexbox-item:last-child {
            padding-right: 13.5px; }
        .support-flexbox-item input.input-support {
            width: 100%; }
    .support-user_data > div.support-flexbox-item {
        max-width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; }
    .support-button {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        margin-bottom: 0; }
        .support-button > div {
            margin-bottom: 11px; }
            .support-button > div:first-child {
                margin-bottom: 8px; }
    .support-form-bottom > div {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; }
    .support-transfer {
        padding-top: 0px;
        padding-bottom: 0px; }
        .support-transfer-requisites {
            width: 100%;
            margin-left: 0; }
            .support-transfer-requisites-item:nth-child(n) {
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 100%;
                    -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                max-width: 100%; }
            .support-transfer-requisites-item:first-child {
                padding-left: 0; }
    .support-get_carts {
        padding-top: 0; }
    .support input[type="text"].input-support {
        font-size: 16px; }
        .support input[type="text"].input-support:active, .support input[type="text"].input-support:focus {
            width: 100%; } }

@media only screen and (max-width: 440px) {
    .support-head {
        margin-bottom: 13px; }
    .support-tabs {
        height: auto; }
        .support-tabs li {
            line-height: 1;
            height: auto;
            padding-top: 22px;
            padding-bottom: 13px; }
            .support-tabs li:last-child {
                margin-left: 5px; }
            .support-tabs li:first-child {
                margin-right: 5px; }
    .support-tab {
        padding-top: 12px;
        padding-bottom: 5px; }
    .support-table-name {
        margin-bottom: 7px; }
        .support-table-name-two p:first-child {
            margin-top: 5px; }
    .support-table-first {
        width: -webkit-calc(100% + 40px);
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-bottom: 0px; }
        .support-table-first > div.support-table-name {
            padding-right: 0; }
    .support-flexbox-price {
        margin-left: -7.5px;
        width: -webkit-calc( 100% + 15px);
        width: calc( 100% + 15px); }
    .support-flexbox-item {
        margin-bottom: 13px;
        padding-left: 7.5px;
        padding-right: 7.5px; }
        .support-flexbox-item:first-child {
            padding-left: 7.5px; }
        .support-flexbox-item:last-child {
            padding-right: 7.5px; }
    .support-flexbox-contact_data {
        margin-top: 3px;
        margin-bottom: 3px; }
        .support-flexbox-contact_data .support-flexbox-item {
            margin-bottom: 16px; }
    .support-get_carts {
        margin-bottom: 8px !important;
        padding-left: 0; }
    .support-iaggree {
        margin-left: 0; }
    .support-button > div:first-child {
        margin-bottom: 4px; }
    .support-error {
        margin-top: -10px; }
        .support-error p {
            font-size: 12px; }
    .support-user_data .support-error {
        margin-top: 2px; }
    .support-flexbox-price .support-error {
        margin-top: 1px; }
    .support input[type="text"], .support input[type="email"] {
        height: 40px; } }

@media only screen and (max-width: 1023px) {
    .three__cards-item {
        max-width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        margin-bottom: 35px; }
        .three__cards-item:last-child {
            margin-bottom: 0; } }

@media only screen and (max-width: 768px) {
    .video-body iframe {
        max-width: 438px;
        max-height: 251px; } }

@media only screen and (max-width: 440px) {
    .video-body iframe {
        max-width: 288px;
        max-height: 165px; } }

@media only screen and (max-width: 768px) {
    .btn-support {
        padding: 18px 0 14px;
        width: 195px;
        font-size: 17px; }
    .btn-pagination {
        font-size: 15px;
        height: 41px; } }

@media only screen and (max-width: 440px) {
    .btn-support {
        padding: 10px 0 8px;
        width: 184px;
        font-size: 15px; } }

@media only screen and (max-width: 1151px) {
    .filter__categoryes-show-main {
        left: 32px; }
    .filter__categoryes-show-sub {
        padding-right: 57px;
        right: 39px;
        width: -webkit-calc( 100% - 253px - 62px);
        width: calc( 100% - 253px - 62px); }
        .filter__categoryes-show-sub-category {
            right: auto;
            left: 30px;
            width: -webkit-calc(100% - 60px);
            width: calc(100% - 60px); } }

@media only screen and (max-width: 1023px) {
    .filter__categoryes-show-sub-button {
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        right: 21px;
        bottom: 10px;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: contain;
                background-size: contain;
        background-image: url(../img/icons/arrow-right-red.svg);
        background-color: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        opacity: 1; }
    .filter__categoryes-show-sub-category {
        right: auto;
        left: 30px;
        width: -webkit-calc(100% - 60px);
        width: calc(100% - 60px); }
        .filter__categoryes-show-sub-category button {
            display: none; } }

@media only screen and (max-width: 840px) {
    .filter__categoryes-show-sub {
        width: -webkit-calc( 100% - 253px - 89px);
        width: calc( 100% - 253px - 89px);
        right: 64px; }
        .filter__categoryes-show-sub-button {
            bottom: 18px;
            right: 15px; }
        .filter__categoryes-show-sub-category {
            right: auto;
            left: 30px;
            width: -webkit-calc(100% - 60px);
            width: calc(100% - 60px); }
            .filter__categoryes-show-sub-category button {
                display: none; } }

@media only screen and (max-width: 767px) {
    .filter__categoryes-show-sub {
        top: 7px;
        width: -webkit-calc( 100% - 213px);
        width: calc( 100% - 213px);
        right: 18px;
        padding-left: 33px;
        padding-top: 45px; }
        .filter__categoryes-show-sub li a {
            padding-left: 3px; }
        .filter__categoryes-show-sub-category {
            right: auto;
            left: 30px;
            width: -webkit-calc(100% - 60px);
            width: calc(100% - 60px); }
            .filter__categoryes-show-sub-category button {
                display: block; }
    .filter__categoryes-show-main {
        left: 16px;
        top: 7px; } }

@media only screen and (max-width: 440px) {
    .filter__categoryes-show-main {
        left: 18px; }
    .filter__categoryes-show-sub {
        width: -webkit-calc( 100% - 130px);
        width: calc( 100% - 130px);
        right: 18px;
        padding: 45px 33px 20px;
        overflow-y: scroll; }
        .filter__categoryes-show-sub-category {
            left: 16px;
            width: -webkit-calc(100% - 32px);
            width: calc(100% - 32px);
            max-width: 100%; }
            .filter__categoryes-show-sub-category button {
                display: none; }
        .filter__categoryes-show-sub ul {
            -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
            max-width: 100%;
            z-index: 3; }
        .filter__categoryes-show-sub li {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
            max-width: 100%; }
            .filter__categoryes-show-sub li:nth-child(1), .filter__categoryes-show-sub li:nth-child(2) {
                padding-right: 0; }
        .filter__categoryes-show-sub-button {
            display: none; }
        .filter__categoryes-show-sub-back {
            display: block;
            position: absolute;
            left: 20px;
            top: 15px;
            font-size: 14px;
            font-family: "Vera Humana 95", sans-serif;
            color: #1D198C;
            letter-spacing: 0.1px;
            z-index: 10; }
            .filter__categoryes-show-sub-back span {
                text-decoration: underline; }
            .filter__categoryes-show-sub-back:hover {
                color: #1D198C; }
                .filter__categoryes-show-sub-back:hover span {
                    text-decoration: none; } }

@media only screen and (max-width: 400px) {
    .filter__categoryes-show-sub {
        width: -webkit-calc( 100% - 108px);
        width: calc( 100% - 108px); }
        .filter__categoryes-show-sub-category {
            width: -webkit-calc(100% - 32px);
            width: calc(100% - 32px); } }

@media only screen and (max-width: 840px) {
    .filter__country-show {
        left: 234px;
        width: 254px; }
    .filter__country input[type="text"]:focus {
        min-width: 256px; } }

@media only screen and (max-width: 767px) {
    .filter__country-show {
        top: 120px;
        left: 16px;
        width: -webkit-calc(100% - 34px);
        width: calc(100% - 34px); }
    .filter__country input[type="text"]:focus {
        min-width: 100%; } }

@media only screen and (max-width: 440px) {
    .filter__country {
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px); }
        .filter__country-show {
            top: 120px; } }

@media only screen and (max-width: 840px) {
    .filter__search.active input {
        width: 230px; } }

@media only screen and (max-width: 767px) {
    .filter__search.active {
        width: 100%; }
        .filter__search.active input {
            width: 100%; } }

@media only screen and (max-width: 1151px) {
    .filter__sort-show {
        right: 110px; } }

@media only screen and (max-width: 768px) {
    .filter__sort-show {
        right: 86px; } }

@media only screen and (max-width: 767px) {
    .filter__sort-show {
        right: 18px;
        width: 276px;
        top: 130px; } }

@media only screen and (max-width: 440px) {
    .filter__sort-show {
        top: 168px;
        width: auto;
        left: 16px;
        right: auto; } }

@media only screen and (max-width: 1023px) {
    .footer_menu ul li {
        padding-left: 15px;
        padding-right: 15px; } }

@media only screen and (max-width: 768px) {
    .footer_menu ul li {
        padding-left: 0;
        padding-right: 27px; } }

@media only screen and (min-width: 768px) {
    .gallery-mobile {
        display: none; } }

@media only screen and (max-width: 767px) {
    .gallery-desctop {
        display: none; }
    .gallery-picture {
        margin-bottom: 12px; }
        .gallery-picture img {
            width: 100%; }
        .gallery-picture:last-child {
            margin-bottom: 19px; } }

@media only screen and (max-width: 767px) {
    .matrix__item {
        height: 67px; }
        .matrix__item:hover {
            background-position-y: -webkit-calc(100% + 3px);
            background-position-y: calc(100% + 3px); } }

@media only screen and (max-width: 440px) {
    .matrix__item {
        height: 45px; }
        .matrix__item:hover {
            background-position-y: -webkit-calc(100% + 1px);
            background-position-y: calc(100% + 1px); } }

@media only screen and (max-width: 1151px) {
    .news__preview-description p a {
        display: block; } }

@media only screen and (min-width: 1023px) {
    .news__preview-date-mobile, .news__preview-thumbnail-mobile {
        display: none; } }

@media only screen and (max-width: 1022px) {
    .news__preview {
        max-width: 350px;
        margin: auto; }
        .news__preview-date-desctop, .news__preview-thumbnail-desctop {
            display: none; }
        .news__preview-content {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
            max-width: 100%;
            padding: 0; }
        .news__preview-title {
            height: 36px;
            padding-left: 13px;
            padding-right: 13px;
            margin: 0; }
            .news__preview-title h3 {
                font-size: 13px;
                letter-spacing: 1.8px;
                margin: 0;
                line-height: 36px;
                white-space: nowrap;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                   text-overflow: ellipsis;
                text-transform: uppercase; }
        .news__preview-thumbnail {
            width: 100%;
            max-width: 100%;
            -webkit-box-flex: 0;
            -webkit-flex: 0 1 auto;
                -ms-flex: 0 1 auto;
                    flex: 0 1 auto;
            -webkit-border-radius: 0;
                    border-radius: 0;
            margin-bottom: 22px; }
            .news__preview-thumbnail img {
                -webkit-border-radius: 0;
                        border-radius: 0;
                -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
        .news__preview-description {
            padding-left: 18px;
            padding-right: 18px; }
            .news__preview-description p {
                color: #121431; }
        .news__preview-date-mobile {
            padding-right: 19px;
            padding-bottom: 7px;
            margin-top: -12px;
            display: block;
            text-align: right; } }

@media only screen and (max-width: 440px) {
    .news__preview-date {
        margin-top: 0; } }

@media only screen and (max-width: 1190px) {
    .project__item-footer-item:first-child {
        max-width: -webkit-calc(135px + 18px);
        max-width: calc(135px + 18px); }
        .project__item-footer-item:first-child .btn {
            min-width: 135px; }
    .project__item-footer-item:last-child {
        max-width: -webkit-calc(100% - (135px + 18px));
        max-width: calc(100% - (135px + 18px)); } }

@media only screen and (max-width: 1023px) {
    .project__item {
        max-width: 351px; } }

@media only screen and (max-width: 440px) {
    .project__item-description {
        padding-top: 20px; }
    .project__item-footer-item:first-child {
        max-width: -webkit-calc(123px + 18px);
        max-width: calc(123px + 18px); }
        .project__item-footer-item:first-child .btn {
            min-width: 123px;
            padding-left: 0;
            padding-right: 0;
            display: block;
            text-align: center; }
    .project__item-footer-item:last-child {
        max-width: -webkit-calc(100% - (123px + 18px));
        max-width: calc(100% - (123px + 18px)); } }

@media only screen and (max-width: 440px) {
    .radio__summ {
        height: 41px; }
        .radio__summ label {
            line-height: 39px;
            font-size: 16px; } }

@media only screen and (max-width: 440px) {
    .sn li {
        width: 35px;
        height: 35px;
        margin-right: 15px; } }

@media only screen and (max-width: 768px) {
    .style__checkbox-big label {
        font-size: 17px; } }

@media only screen and (max-width: 440px) {
    .style__checkbox-big label {
        font-size: 14px; } }

@media only screen and (max-width: 1023px) {
    .tcard {
        width: 100%;
        max-width: 351px;
        display: block;
        margin: auto; } }

@media only screen and (max-width: 440px) {
    .three__cards {
        margin-bottom: 50px; }
        .three__cards-title {
            margin-bottom: 20px; }
        .three__cards-item {
            margin-bottom: 25px; } }

@media only screen and (max-width: 440px) {
    .title__second h2 {
        font-size: 20px; } }

@media only screen and (max-width: 440px) {
    .title h2, .title h3 {
        font-size: 21px;
        line-height: 24px;
        letter-spacing: 0.18px; } }

@media only screen and (max-width: 1023px) {
    .to__top {
        right: 112px;
        bottom: 112px; } }

@media only screen and (max-width: 768px) {
    .to__top {
        right: 28px;
        bottom: 28px; } }

@media only screen and (max-width: 440px) {
    .to__top {
        right: 16px;
        bottom: 16px; } }

@media only screen and (max-width: 1023px) {
    .top__menu ul a {
        font-size: 16px;
        letter-spacing: 1.55px; } }

@media only screen and (max-width: 767px) {
    .top__menu ul {
        display: block; }
        .top__menu ul li {
            padding-left: 0;
            padding-right: 0;
            text-align: right;
            margin-bottom: 12px; }
            .top__menu ul li a {
                line-height: 24px;
                font-size: 17px; } }
